.root {
  text-align: center;
  width: 100%;
  height: 100%;
}

.side-bar {
  display: inline-block;
  height: 100%;
  max-width: 290px;
  background: rgba(0,149,135,0.76);
  position: absolute;
  top: 64px;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 25px;
}
