.store-card {
  background: #FFFDFD;
  display: inline-block;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
  font-family: 'Avenir Next', sans-serif;
  height: 110px;
  position: relative;
  left: 33%;
  width: 654px;
}

.name-field {
  font-family: AvenirNext-Regular;
  font-size: 27px;
  color: #323232;
}

.type-field {
  font-size: 26px;
  color: #333333;
}

.address-field {
  font-size: 16px;
  color: #757575;
}

.name-field,
.address-field,
.phone-field,
.neighborhood-field {
  display: inline-block;
  margin: 0;
  text-align: left;
  width: 70%;
}

.info-box {
  /*height: 110px;*/
  width: 70%;
}

.map-point {
  display: inline-block;
  position: relative;
  margin: 10px;
  top: 25px;
}

.type-field {

}







/* A: */
/*font-family: AvenirNext-Bold;
font-size: 17.92px;
color: #FFFFFF;*/
